.bda-header {
  background: #d46919;
}

.bda-main-nav span {
  color: #d46919;
}

.bda-title {
  border-color: #d46919;
}

.bda-description i {
  color: #d46919
}

.bda-pagination__line {
  color: #d46919;
}

.popup__close {
  background: #d46919;
}

.bda-video__image {
  background-image: url('img/image-video-CC.jpg');
}

.bda-word-search__content {
  border-color: #d46919;
}

/* Tabs horizontal color */
.bda-tabs-hor__tab.active {
  background: #B0520C;
}

.bda-tabs-hor__content {
  border-top: 8px solid #B0520C;
}

.bda-tabs-hor__tab {
  background: #d46919;
}

/* Tabs vertical colors*/
.bda-tabs-ver__tab.active {
  background: #B0520C;
  border-color: #B0520C;
}

.bda-tabs-ver__tab {
  background: #d46919;
}

.drag-and-drop__item-drop {
  background-color: #d46919;
}

/* creative commons */
.popup__container--cc {
  border: 1px solid #d46919;
  background: #fff;
}

.popup__close--cc {
  border: solid 1px #d46919;
  background: #d46919;
}

.creative-commons {
  color: #d46919;
}
/* creative commons */

/* header */
.icon-subject::before {
  content: "";
  background-image: url('/common/base/img/icon-catedra-convivencia.png');
}

.icon-subject::after {
  content: "Cátedra de convivencia";
}
/* header */

/* btn */
.bda-btn {
  background-color: #d46919;
}

.bda-link-know {
  background-color: #d46919;
}
/* btn */

/* pagination */
.btn-next,
.btn-back {
  color: #d46919;
}
/* pagination */
