.bda-header {
  background: #c0c142;
}

.bda-main-nav span {
  color: #c0c142;
}

.bda-title {
  border-color: #c0c142;
}

.bda-description i {
  color: #c0c142
}

.bda-pagination__line {
  color: #c0c142;
}

.popup__close {
  background: #c0c142;
}


.bda-video__image {
  background-image: url('img/image-video-HU.jpg');
}

.bda-word-search__content {
  border-color: #c0c142;
}

/* Tabs horizontal color */
.bda-tabs-hor__tab.active {
  background: #a3a52d;
}

.bda-tabs-hor__content {
  border-top: 8px solid #a3a52d;
}

.bda-tabs-hor__tab {
  background: #c0c142;
}

/* Tabs vertical colors*/
.bda-tabs-ver__tab.active {
  background: #a3a52d;
  border-color: #a3a52d;
}

.bda-tabs-ver__tab {
  background: #c0c142;
}

.drag-and-drop__item-drop {
  background-color: #D6D83A;
}

/* creative commons */
.popup__container--cc {
  border: 1px solid #D6D83A;
  background: #fff;
}

.popup__close--cc {
  border: solid 1px #D6D83A;
  background: #D6D83A;
}

.creative-commons {
  color: #D6D83A;
}
/* creative commons */

/* header */
.icon-subject::before {
  content: "";
  background-image: url('/common/base/img/icon-humanidades.png');
}

.icon-subject::after {
  content: "Humanidades"
}
/* header */
