.bda-header {
  background: #73AB40;
}

.bda-main-nav span {
  color: #73AB40;
}

.bda-title {
  border-color: #73AB40;
}

.bda-description i {
  color: #73AB40
}

.bda-pagination__line {
  color: #73AB40;
}

.popup__close {
  background: #73AB40;
}

.bda-video__image{
  background-image: url('img/image-video-CN.jpg');
}

.bda-word-search__content {
  border-color: #73AB40;
}

/* Tabs horizontal color */
.bda-tabs-hor__tab.active {
  background: #4f6b3b;
}

.bda-tabs-hor__content {
  border-top: 8px solid #4f6b3b;
}

.bda-tabs-hor__tab {
  background: #73AB40;
}

/* Tabs vertical colors*/
.bda-tabs-ver__tab.active {
  background: #4f6b3b;
  border-color: #4f6b3b;
}

.bda-tabs-ver__tab {
  background: #73AB40;
}

.drag-and-drop__item-drop {
  background-color: #73AB40;
}

/* creative commons */
.popup__container--cc {
  border: 1px solid #73AB40;
  background: #fff;
}

.popup__close--cc {
  border: solid 1px #73AB40;
  background: #73AB40;
}

.creative-commons {
  color: #73AB40;
}
/* creative commons */

/* header */
.icon-subject::before {
  content: "";
  background-image: url('/common/base/img/icon-ciencias-naturales.png');
}

.icon-subject::after {
  content: "Ciencias naturales"
}
/* header */

/* btn */
.bda-btn--primary {
  background-color: #73AB40;
}


.bda-link-know {
  background-color: #73AB40;
}
/* btn */
