.bda-header {
  background: #73AB40;
}

.bda-main-nav span {
  color: #73AB40;
}

.bda-borders-title {
  border-color: #73AB40;
}

.bda-info__icon {
  color: #73AB40
}

.ipt-pagenumer .eslas {
  color: #73AB40;
}
