body {
  margin: 0;
  padding: 0;
  font: 16px/20px 'Open Sans', sans-serif;
  color: #2E2E2E;
  background: #f7f7f7;
}

i {
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-size: 1.1em;
  text-align: justify;
}
