.bda-header {
  background: #C76A1F;
}

.bda-main-nav span {
  color: #C76A1F;
}

.bda-borders-title {
  border-color: #C76A1F;
}

.bda-info__icon {
  color: #C76A1F
}

.ipt-pagenumer .eslas {
  color: #C76A1F;
}
