.bda-header {
  background: #C76A1F;
}

.bda-main-nav span {
  color: #C76A1F;
}

.bda-title {
  border-color: #C76A1F;
}

.bda-description i {
  color: #C76A1F
}

.bda-pagination__line {
  color: #C76A1F;
}

.popup__close {
  background: #C76A1F;
}

.bda-video__image {
  background-image: url('img/image-video-CS.jpg');
}

.bda-word-search__content {
  border-color: #C76A1F;
}

/* Tabs horizontal color */
.bda-tabs-hor__tab.active {
  background: #a2591e;
}

.bda-tabs-hor__content {
  border-top: 8px solid #a2591e;
}

.bda-tabs-hor__tab {
  background: #C76A1F;
}

/* Tabs vertical colors*/
.bda-tabs-ver__tab.active {
  background: #a2591e;
  border-color: #a2591e;
}

.bda-tabs-ver__tab {
  background: #C76A1F;
}

.drag_bda--text, .drag--text,.drag_bda ,.drag_bda--words {
  background-color: #C76A1F;
}
