.bda-header {
  background: #3F6D38;
}

.bda-main-nav span {
  color: #3F6D38;
}

.bda-title {
  border-color: #3F6D38;
}

.bda-description i {
  color: #3F6D38
}

.bda-pagination__line {
  color: #3F6D38;
}

.popup__close {
  background: #3F6D38;
}


.bda-video__image {
  background-image: url('img/image-video-IN.jpg');
}

.bda-word-search__content {
  border-color: #3F6D38;
}
