.bda-header {
  background: #3F6D38;
}

.bda-main-nav span {
  color: #3F6D38;
}

.bda-title {
  border-color: #3F6D38;
}

.bda-description i {
  color: #3F6D38
}

.bda-pagination__line {
  color: #3F6D38;
}

.popup__close {
  background: #3F6D38;
}


.bda-video__image {
  background-image: url('img/image-video-IN.png');
}


/*Tabs Horizaontal colors*/

.bda-tab-Hor-text.active,
.bda-tab-Hor-num.active {
  background: #294a24;
  border-color: #294a24;
}

.bda-cont_tab-Hor {
  border-top: 8px solid #294a24;
}

.bda-tab-Hor-text,
.bda-tab-Hor-num {
  background: #3F6D38
}



/*Tabs vertical colors*/

.bda-tab-Ver.active {
  background: #294a24;
  border-color: #294a24;
}

.bda-tab-Ver {
  background: #3F6D38;
}
