.bda-header {
  background: #3F6D38;
}

.bda-main-nav span {
  color: #3F6D38;
}

.bda-title {
  border-color: #3F6D38;
}

.bda-description i {
  color: #3F6D38
}

.bda-pagination__line {
  color: #3F6D38;
}

.popup__close {
  background: #3F6D38;
}


.bda-video__image {
  background-image: url('img/image-video-IN.jpg');
}

.bda-word-search__content {
  border-color: #3F6D38;
}

/* Tabs horizontal color */
.bda-tabs-hor__tab.active {
  background: #294a24;
}

.bda-tabs-hor__content {
  border-top: 8px solid #294a24;
}

.bda-tabs-hor__tab {
  background: #3F6D38;
}

/* Tabs vertical colors*/
.bda-tabs-ver__tab.active {
  background: #294a24;
  border-color: #294a24;
}

.bda-tabs-ver__tab {
  background: #3F6D38;
}

.drag-and-drop__item-drop {
  background-color: #3F6D38;
}

/* creative commons */
.popup__container--cc {
  border: 1px solid #3F6D38;
  background: #fff;
}

.popup__close--cc {
  border: solid 1px #3F6D38;
  background: #3F6D38;
}

.creative-commons {
  color: #3F6D38;
}
/* creative commons */

/* header */
.icon-subject::before {
  content: "";
  background-image: url('/common/base/img/icon-ingles.png');
}

.icon-subject::after {
  content: "Ingles"
}
/* header */

/* btn */
.bda-btn--primary {
  background-color: #3F6D38;
}

.bda-link-know {
  background-color: #3F6D38;
}
/* btn */
