.bda-header {
  background: #B71017;
}

.bda-main-nav span {
  color: #B71017;
}

.bda-title {
  border-color: #B71017;
}

.bda-description i {
  color: #B71017
}

.bda-pagination__line {
  color: #B71017;
}

.popup__close {
  background: #B71017;
}

.bda-video__image {
  background-image: url('img/image-video-MA.jpg');
}

.bda-word-search__content {
  border-color: #B71017;
}

/* Tabs horizontal color */
.bda-tabs-hor__tab.active {
  background: #8e0f14;
}

.bda-tabs-hor__content {
  border-top: 8px solid #8e0f14;
}

.bda-tabs-hor__tab {
  background: #B71017;
}

/* Tabs vertical colors*/
.bda-tabs-ver__tab.active {
  background: #8e0f14;
  border-color: #8e0f14;
}

.bda-tabs-ver__tab {
  background: #B71017;
}

.drag-and-drop__item-drop {
  background-color: #B71017;
}

/* creative commons */
.popup__container--cc {
  border: 1px solid #B71017;
  background: #fff;
}
.popup__close--cc {
  border: solid 1px #B71017;
  background: #B71017;
}

.creative-commons {
  color: #B71017;
}
/* creative commons */

/*header*/
.icon-subject::before {
  content: "\63";
}

.icon-subject::after {
  content: "Matemáticas"
}
/*header*/

/* btn */
.bda-btn--primary {
  background-color: #B71017;
}

.bda-link-know {
  background-color: #B71017;
}
/* btn */

/* pagination */
.btn-next,
.btn-back {
  color: #B71017;
}
/* pagination */
