.bda-header {
  background: #B71017;
}

.bda-main-nav span {
  color: #B71017;
}

.bda-title {
  border-color: #B71017;
}

.bda-description i {
  color: #B71017
}

.bda-pagination__line {
  color: #B71017;
}

.popup__close {
  background: #B71017;
}


.bda-video__image {
  background-image: url('img/image-video-MA.png');
}

.drag_bda--text, .drag--text,.drag_bda ,.drag_bda--words {
  background-color: #B71017;
}
