.bda-header {
  background: #B71017;
}

.bda-main-nav span {
  color: #B71017;
}

.bda-title {
  border-color: #B71017;
}

.bda-description i {
  color: #B71017
}

.bda-pagination__line {
  color: #B71017;
}

.popup__close {
  background: #B71017;
}


.bda-video__image {
  background-image: url('img/image-video-MA.png');
}
/*Tabs horizontal color*/
.bda-tab-Hor-text.active,
.bda-tab-Hor-num.active {
    background: #8e0f14;   
    border-color: #8e0f14;
}
.bda-cont_tab-Hor {
    border-top: 8px solid #8e0f14;
}
.bda-tab-Hor-text ,
.bda-tab-Hor-num  {    
    background: #B71017;   
}

/*Tabs vertical colors*/
.bda-tab-Ver.active {
    background: #8e0f14;   
    border-color: #8e0f14;
}

.bda-tab-Ver {    
    background: #B71017;   
}