.bda-header {
  background: #73AB40;
}

.bda-main-nav span {
  color: #73AB40;
}

.bda-title {
  border-color: #73AB40;
}

.bda-description i {
  color: #73AB40
}

.bda-pagination__line {
  color: #73AB40;
}

.popup__close {
  background: #73AB40;
}

.bda-video__image--cn {
  background-image: url('img/image-video-CN.jpg');
}

.bda-video__image--cm {
  background-image: url('img/image-video-CM.jpg');
}

.bda-word-search__content {
  border-color: #73AB40;
}


/*Tabs horizontal color*/

.bda-tab-Hor-text.active,
.bda-tab-Hor-num.active {
  background: #4f6b3b;
  border-color: #4f6b3b;
}

.bda-cont_tab-Hor {
  border-top: 8px solid #4f6b3b;
}

.bda-tab-Hor-text,
.bda-tab-Hor-num {
  background: #73AB40;
  ;
}


/*Tabs vertical colors*/

.bda-tab-Ver.active {
  background: #4f6b3b;
  border-color: #4f6b3b;
}

.bda-tab-Ver {
  background: #73AB40;
}
