.bda-header {
  background: #73AB40;
}

.bda-main-nav span {
  color: #73AB40;
}

.bda-title {
  border-color: #73AB40;
}

.bda-description i {
  color: #73AB40
}

.bda-pagination__line {
  color: #73AB40;
}

.popup__close {
  background: #73AB40;
}

.bda-video__image--cn {
  background-image: url('img/image-video-CN.jpg');
}

.bda-video__image--cm {
  background-image: url('img/image-video-CM.jpg');
}

.bda-word-search__content {
  border-color: #73AB40;
}

/* Tabs horizontal color */
.bda-tabs-hor__tab.active {
  background: #4f6b3b;
}

.bda-tabs-hor__content {
  border-top: 8px solid #4f6b3b;
}

.bda-tabs-hor__tab {
  background: #73AB40;
}

/* Tabs vertical colors*/
.bda-tabs-ver__tab.active {
  background: #4f6b3b;
  border-color: #4f6b3b;
}

.bda-tabs-ver__tab {
  background: #73AB40;
}
