.bda-guide {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 70px;
  height: 40px;
  padding: 2px 25px;
  border: 1px solid #c1c1c1;
  border-radius: 0px 80px 0px 80px;
  font-size: 14px;
}

.popup__content .bda-guide {
  top: 10px;
}

.bda-guide i {
  position: relative;
  top: 5px;
  font-size: 22px;
}

.bda-guide--alt {
  position: static;
  margin-left: 70px;
}

.bda-guide--modal {
  position: static;
  margin-bottom: 20px;
}

.bda-guide--center {
  left: 50%;
  transform: translate(-50%);
}

.bda-guide--right {
  left: auto;
  right: 70px;
}
