.drag-and-drop {
  display: flex;
  height: 480px;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.drag-and-drop--vertical,
.drag-and-drop--words,
.drag-and-drop--text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center
}

.drag-and-drop__container--vertical,
.drag-and-drop__container--words {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 480px;
}

.drag-and-drop__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.drag-and-drop__item--words {
  flex-flow: column nowrap;
}

.drag-and-drop__item--text-fill {
  width: 80%;
  height: 480px;
  padding-right: 30px;
  text-align: justify;
}

.drag-and-drop__item--text-words {
  display: flex;
  flex-flow: column wrap;
  width: 20%;
  height: 480px;
}

.drag-and-drop__item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5px 0px;
  font-size: 16px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  color: #fff;
  height: 170px;
  width: 170px;
  cursor: pointer;
}

.drag-and-drop__item {
  background-color: #999999;
}

.drag-and-drop__item span {
  margin: 5px 5px;
}

.drag-and-drop__item img {
  width: auto;
  height: 175px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.drag-and-drop__item--text {
  display: inline-block;
  width: 170px;
  height: 40px;
  margin: 5px 0px;
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #000;
  font-size: 16px;
  text-align: center;
}

.drag-and-drop__item-drag--text {
  margin-bottom: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.drag-and-drop__item-drop--text {
  background-color: gray;
  color: white;
}

.drag-and-drop--text .drag-and-drop__item--success {
  padding-top: 20px;
  color: black;
  background: white;
  border-radius: 0;
}

.drag-and-drop--words {
  justify-content: space-around
}

.drag-and-drop__item--words {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 400px;
  height: 55px;
  margin: 15px 0px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background-color: #999999;
}

.popup__content .drag-and-drop,
.popup__content .drag-and-drop--vertical {
  padding-top: 60px;
}
