.zoom-images {
  position: relative;
}

.zoom-images img {
  cursor: pointer;
}

.hoverimages {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.hoverimages i {
  font-size: 45px;
}

.hoverimages span {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 135px;
  height: auto;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #fff;
  transform: translate(-50%, -50%);
  line-height: 2em;
}

.hoverimages strong {
  display: block;
  font-weight: normal;
}

.zoom-vertical {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 50%;
  padding: 1em;
  transform: translateX(-50%);
  background: #FFFFFF;
  z-index: 5;
}

.zoom-vertical div {
  height: 570px;
  overflow-y: auto;
}

.zoom-vertical img {
  width: 100%;
  height: auto;
}

.zoom-horizontal {
  position: absolute;
  top: 5%;
  left: 50%;
  width: auto;
  height: 90%;
  padding: 1em;
  background: #FFFFFF;
  transform: translateX(-50%);
  text-align: center;
  z-index: 5;
}

.zoom-horizontal img {
  width: auto;
  height: 100%;
}

.close_zoom,
.close_zoom_popup {
  position: absolute;
  top: -15px;
  left: 98%;
  background: #313131;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  padding: 6px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  font-size: 1.3em;
}
