.bda-header {
  background: #D6D83A;
}

.bda-main-nav span {
  color: #D6D83A;
}

.bda-title {
  border-color: #D6D83A;
}

.bda-description i {
  color: #D6D83A
}

.bda-pagination__line {
  color: #D6D83A;
}

.popup__close {
  background: #D6D83A;
}


.bda-video__image--cn {
  background-image: url('img/image-video-HU.jpg');
}

.bda-video__image--cm {
  background-image: url('img/image-video-LE.jpg');
}

.bda-word-search__content {
  border-color: #D6D83A;
}


/*Tabs horizontal color*/

.bda-tab-Hor-text.active,
.bda-tab-Hor-num.active {
  background: #a3a52d;
  border-color: #a3a52d;
}

.bda-cont_tab-Hor {
  border-top: 8px solid #a3a52d;
}

.bda-tab-Hor-text,
.bda-tab-Hor-num {
  background: #D6D83A
}


/*Tabs vertical colors*/

.bda-tab-Ver.active {
  background: #a3a52d;
  border-color: #a3a52d;
}

.bda-tab-Ver {
  background: #D6D83A;
}
