.bda-header {
  background: #D6D83A;
}

.bda-main-nav span {
  color: #D6D83A;
}

.bda-borders-title {
  border-color: #D6D83A;
}

.bda-info__icon {
  color: #D6D83A
}

.ipt-pagenumer .eslas {
  color: #D6D83A;
}
