.bda-header {
  background: #d46919;
}

.bda-main-nav span {
  color: #d46919;
}

.bda-title {
  border-color: #d46919;
}

.bda-description i {
  color: #d46919
}

.bda-pagination__line {
  color: #d46919;
}

.popup__close {
  background: #d46919;
}

.bda-video__image--cp {
  background-image: url('img/image-video-CP.jpg');
}

.bda-video__image--cc {
  background-image: url('img/image-video-CC.jpg');
}

.bda-word-search__content {
  border-color: #d46919;
}

/*Tabs horizontal color*/
.bda-tab-Hor-text.active,
.bda-tab-Hor-num.active {
    background: #C76A1F;   
    border-color: #C76A1F;
}
.bda-cont_tab-Hor {
    border-top: 8px solid #C76A1F;
}
.bda-tab-Hor-text ,
.bda-tab-Hor-num  {    
    background: rgb(225, 116, 19);   
}

/*Tabs vertical colors*/
.bda-tab-Ver.active {
    background: #C76A1F;   
    border-color: #C76A1F;
}

.bda-tab-Ver {    
    background: rgb(225, 116, 19);   
}