.bda-phrases-short__container {
  margin-top: 10px;
}

.bda-phrases-short__container span {
  font-weight: bold;
}

.bda-phrases-short__container button {
  position: relative;
  right: -60%;
}

.bda-phrases-short__content {
   width: 100%;
  line-height: 30px;

}

.bda-phrases-short__description {
  margin-right: 30px;
  height: 450px;
  overflow-y: auto;
}

.bda-phrases__input {
  width: 30px;
  margin-right: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
}

.bda-phrases__input:focus {
  border: 1px solid #000;
  outline: none;
}
.bda-phrases-short__list {
    height: 450px;
    overflow-y: auto;
}
.bda-phrases__input::-webkit-outer-spin-button,
.bda-phrases__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bda-phrases-short__content ol {
  line-height: 24px;

}

.bda-phrases-short__content ol li {
 margin-bottom: 10px;
}

.success {
  border: 1px solid #008000;
}

.error {
  border: 1px solid #ff6347;
}

.bda-container-box__exercises {
  text-align: right;
}

.success-modal,
.error-modal {
  position: absolute;
  top: 213px;
  left: 530px;
  width: 25%;
  font-size: 15em;
  cursor: pointer;
  z-index: 999;
}


/*MODAL*/

.success-modal strong,
.error-modal strong {
  display: inline-block;
  position: absolute;
  top: 150px;
  left: -50px;
  font-size: 16px;
}

.success-modal span,
.success-modal strong {
  color: #008000;
}

.error-modal span,
.error-modal strong {
  color: #ff6347;
}

.bda-bg-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 990;
  background: rgba(255, 255, 255, .8);
}

.hide {
  display: none;
}
