/*horizontal*/

.bda-cont_tabs-Hor {
  margin: 0;
  padding: 0;
}

.bda-cont_tab-Hor {
  padding-top: 25px;
  height: 475px;
  overflow-y: auto;
}
.bda-tab-Hor-text ,
.bda-tab-Hor-num {
  display: inline-block;
  border: none;
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 6px 21px 0 21px;
}
.bda-tab-Hor-num {
 width: auto;
}
.bda-tab-Hor-text {
 width: 19%;
}

.bda-tab-Hor-text a,
.bda-tab-Hor-num  a {
  font-size: 14px;
  line-height: 2em;
  display: block;
  padding: 5px 10px;
  outline: none;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
   line-height: 20px;
}

.bda-tab-Hor-text a:hover,
.bda-tab-Hor-num  a:hover {
  text-decoration: none;
}

.bda-tab-Hor-text .active,
.bda-tab-Hor-num .active {
  position: relative;
  top: 1px;
}

.bda-tab-Hor-text a.active,
.bda-tab-Hor-num  a.active {
  font-weight: none;
}

.bda-tab-container-Hor .panel-container {
  background: #000;
  border: solid #666 1px;
  padding: 10px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
  width: 91%;
  margin-left: 44px;
}



/*Vertical*/

.bda-cont_tabs-Ver {
  margin: 0;
  padding: 0;
}

.bda-cont_tab-Ver {
  padding-left: 30px;
  height: 475px;
  overflow-y: auto;
}

.bda-tab-Ver {
  border: none;
  border-radius: 20px 0 20px 0;
  text-align: center;
  width: 100%;
    padding: 7px 7px 7px 7px;
  margin-top: 10px;
  list-style-type: none;
}

.bda-tab-Ver a {
  font-size: 14px;
  line-height: 2em;
  display: block;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  line-height: 20px;
}

.bda-tab-Ver a:hover {
  text-decoration: none;
}

.bda-tab-Ver.active {
  position: relative;
  top: 1px;
}

.bda-tab-Ver a.active {
  font-weight: none;
}

.bda-tab-container-Ver .panel-container {
  background: #000;
  border: solid #666 1px;
  padding: 10px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
  width: 91%;
  margin-left: 44px;
}
