.videoWrapper {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #000;
  max-width: 800px;
  margin: 20px auto;
}

.videoWrapper169 {
  padding-top: 0%;
}

.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
}

.videoPoster:before {
  content: "";
  position: absolute;
  top: 51%;
  left: 50%;
  width: 87px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border: 5px solid #fff;
  border-radius: 100%;
  transition: border-color 300ms
}

.videoPoster:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: -20px 0 0 -10px;
  border-left: 40px solid #fff;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  transition: border-color 300ms;
}

.videoPoster:hover:before,
.videoPoster:focus:before {
  border-color: #a9a9a9;
}

.videoPoster:hover:after,
.videoPoster:focus:after {
  border-left-color: #a9a9a9;
}

.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  transition-delay: 0s, 800ms;
}

.cont-video {
  max-width: 800px;
  margin: 20px auto;
  max-height: 500px;
}
