.bda-header {
  background: #d46919;
}

.bda-main-nav span {
  color: #d46919;
}

.bda-borders-title {
  border-color: #d46919;
}

.bda-info__icon {
  color: #d46919
}

.ipt-pagenumer .eslas {
  color: #d46919;
}
